{% extends 'base.html' %}
{% block title %}Edit Profile{% endblock %}

{% block content %}

<h1>Edit Profile</h1>
<!-- form -->
<form action="/{{user.id}}/edited" method="POST">
    <div>
        <input type="text" name="first_name" placeholder="{{user.first_name}}" value="{{user.first_name}}">
    </div>
    <div>
        <input type="text" name="last_name" placeholder="{{user.last_name}}" value="{{user.last_name}}">
    </div>
    <div>
        <input type="url" name="image_url" placeholder="{{user.image_url}}" value="{{user.image_url}}">
    </div>
    <div>
        <button>Edit</button>
        <button>Cancel</button>
    </div>
</form>

{% endblock %}