body {
    background-color: bisque;
}
.message{
    color:red
}

h1{
    font-family: 'Questrial', sans-serif;
    font-size: 50px;
    color: rgb(94, 92, 92);
    text-align: center;
}

h2{
    font-family: 'Questrial', sans-serif;
    color: rgb(94, 92, 92);
    text-align: center;
}
p{
    color: rgb(94, 92, 92);
    text-align: center;
}
label {
    margin-bottom: 1em;
    color: #848484;
    font-size: 20px;
}


select {
  border: none;
  font-size: 14px;
  height: auto;
  padding: 13px;
  width: 30%;
  background-color: #f2f2f2;
  color: #999999;
  border-radius: 5px;
}

button{
    border: none;
    height: 30px;
    width: 70px;
    background-color: #050505;
    color: #dcd8d8;
    font-size: 14px;
}

.form-style{
    margin-top: 20px;
}

.form-center {
    text-align: center;
}