{% extends 'base.html'  %}

{% block content %}


<h1>Profile</h1>
<div>
<h1>{{user.username}}</h1>
<p>{{user.first_name}} {{user.last_name}}</p>
<p>{{user.email}}</p>
</div>
{% for f in feedback%}
<div>
<p>{{f.title}}</p>
<p>{{f.content}}</p>
<button><a href="/feedback/{{f.id}}/update">Edit</a></button>
<button><a href="/feedback/{{f.id}}/delete">Delete</a></button>
</div>
{% endfor %}

<button><a href="/users/{{user.username}}/feedback/add">Add Feedback</a></button>
<button><a href="/users/{{user.username}}/delete">Delete User</a></button>

{% endblock %}